{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Activity Form | PPW IMB</title>
    <meta name="author" content="Ignatius Bagussuputra">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Essentials
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans;400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <!-- Favorite Icon
    ================================================== -->
    <!-- <link rel="shortcut icon" href="favicon.png"> -->

    <!-- JS Library Scripts
    ================================================== -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.28/webfont.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->

</head>

<body>
    <!-- Header
    ================================================== -->
    <header id="home">
        <nav>
            <a href="/">Home</a>
            <a href="">Contact</a>
            <a href="/professor">Professor</a>
            <a href="/register">Register</a>
        </nav>
    </header>

    <!-- Section Activity
    ================================================== -->
    <section id="Activity">
        <div class="">
            <h1 class="">Activity List</h1>
        </div>
        <form action="/register/activity" method="POST">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete All">
        </form>
        <div class="form-result">
            {% for result in activity %}
            <div class="item">
                <p>Activity: {{ result.activity_name }}</p>
                <p>Date: {{ result.date }}</p>
                <p>Time: {{ result.time }}</p>
                <p>Category: {{ result.category }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Footer
    ================================================== -->
    <footer id="social">
    </footer>

    <!-- JS Performance Scripts
    ================================================== -->
    <!-- <script src="{%static 'js/index.js'%}"></script> -->
</body>

</html>