{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home | PPW IMB</title>
    {% include 'import.html' %}
</head>

<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <section class="flex-row width-limiter" id="about">
        <div class="main-side">
            <img class="profile-pic" src="{% static 'media/profile.jpg' %}" />
        </div>
        <div class="content-side">
            <h1>Ignatius Bagussuputra</h1>
            <p class="text">I am student majoring in Computer Science at the Faculty of Computer Science from
                University of Indonesia. I love a lot of sports like swimming and badminton, especially one that
                requires a full body control such as tricking or breakdancing. I do some gymnastics skill training too
                or just simple anaerobic exercises. Despite all the physical training, I tend to balance it out by
                reading some books and watching lots of movies and tv shows too.
            </p>
            <div class="flex-row links">
                <div class="item">
                    <a class="bar anmt-bouncemiddleout" href="https://wireframe.cc/uKbcpe">Wireframe</a>
                </div>
                <div class="item">
                    <a class="bar anmt-bouncemiddleout" href="https://www.figma.com/proto/Sj37ududaurJquFLKEALj2aT/Story2?node-id=17%3A0&scaling=contain">Figma</a>
                </div>
            </div>
        </div>
    </section>

    <section class="flex-column width-limiter" id="description">
        <div class="content-divider flex-column skills">
            <h2>Skills</h2>
            <div class="flex-row around">
                <div class="img-item">
                    <img src="{% static 'media/java.svg' %}" />
                </div>
                <div class="img-item">
                    <img src="{% static 'media/html5.svg' %}" />
                </div>
                <div class="img-item">
                    <img src="{% static 'media/css3.svg' %}" />
                </div>
                <div class="img-item">
                    <img src="{% static 'media/photoshop.svg' %}" />
                </div>
                <div class="img-item">
                    <img src="{% static 'media/illustrator.svg' %}" />
                </div>
            </div>
        </div>

        <div class="content-divider flex-column faq">
            <h2>Frequently Asked Questions</h2>
            <div id="accordion">
                <a class="bar anmt-bounceright accordion">Where is my Faculty?</a>
                <div class="accordion-panel">
                    University of Indonesia is located in Depok and Faculty of Computer Science is in the center of
                    the map, the only round faculty there.
                </div>

                <a class="bar anmt-bounceright accordion">Where do I live and how do I get home?</a>
                <div class="accordion-panel">
                    I go home to West of Jakarta using the railway from University of Indonesia Train Station.
                </div>

                <a class="bar anmt-bounceright accordion">Where do I rent a place for college?</a>
                <div class="accordion-panel">
                    It only takes 7-15 minutes to walk from my place to the faculty. Try to guess.
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>