{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Professor | PPW IMB</title>
    {% include 'import.html' %}
</head>

<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <section id="about" class="flex-column width-limiter center">
        <div class="main-side">
            <img class="profile-pic" src="{% static 'media/belawati.jpg' %}" />
        </div>
        <div class="content-side">
            <h1>Prof. Belawati H. Widjaja, Dra., M.Sc., Ph.D.</h1>
            <h4>bela@cs.ui.ac.id</h4>
        </div>
    </section>

    <section class="flex-column width-limiter">
        <div class="content-divider">
            <h2>Research Interest</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat sapien quis turpis
                sodales
                vehicula. Pellentesque id mauris nec eros consequat scelerisque sollicitudin sit amet nunc. Quisque
                quis risus magna. Vestibulum et tellus ac libero iaculis elementum non dictum felis. Sed massa mi,
                gravida eu nunc non, pharetra gravida tortor. Aliquam maximus, risus in dapibus dictum, justo eros
                lobortis libero, eget fringilla odio elit ac velit. Vestibulum lacus mauris, hendrerit eget libero non,
                rhoncus elementum nisi. Duis id ex auctor, interdum neque ut, congue nibh. Sed id vehicula ligula.
                Pellentesque posuere elit at nisi consequat, et aliquam diam fermentum.
            </p>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>