{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Register Form | PPW IMB</title>
    {% include 'import.html' %}
</head>

<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <section id="about"></section>

    <section class="flex-column width-limiter" id="form">
        <form action="/register/" class="form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-input">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <input class="button" id="submit" type="submit" value="Submit">
        </form>
    </section>

    {% include 'footer.html' %}
</body>

</html>