{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Subscribe Form | PPW IMB</title>
{% endblock %}

{% block content %}
<section class="flex-column width-limiter" id="form">
    <form action="/register/" class="form" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-input">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <input class="button" id="submit" type="submit" value="Submit">
    </form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function check_all() {
        $.ajax({
            type: "POST",
            url: "/subscribe/check_all",
            data: formData,
            dataType: 'json',
            success: function (resp) {
                if (resp.all_checked) {
                    $('#button-submit').removeAttr("disabled");
                } else {
                    $('#button-submit').attr("disabled", "true");
                }
            },
            timeout: 2000,
        });
    };

    function validate_email() {
        $.ajax({
            type: "POST",
            url: "/subscribe/validate",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                email: $("#email").val(),
            },
            dataType: 'json',
            success: function (email) {
                if (email.is_exists) {
                    email_is_valid = false;
                    emailStatus.append(
                        `
                        <img src="/static/assets/cross-red.png" alt="" width="32">
                        Email already registered`
                    );
                } else {
                    email_is_valid = true;
                    emailStatus.append(
                        `
                        <img src="/static/assets/check-green.png" alt="" width="32">
                        `
                    );
                }
            },
            timeout: 2000,
        });
    }

    $('form').submit(function (event) {
        event.preventDefault();
        var formData = $("form").serialize();
        $.ajax({
            type: "POST",
            url: "/subscribe/",
            data: formData,
            dataType: 'json',
            success: function (resp) {
                if (resp.post_success) {
                    alert("Data berhasil disimpan.");
                    $("form")[0].reset();
                    $('#email-status').empty();
                    $('#button-submit').attr("disabled", "true");
                }
            }
        });
    });
</script>

</body>

</html>