/* ------------------------------------------------------------------ */
/* Animation Styles
/* ------------------------------------------------------------------ */

/* ripple preloader */
.preanmt-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.preanmt-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: preanmt-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preanmt-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes preanmt-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


/* zoom show */
.anmt-zoom {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* bar expand */
.anmt-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}

/* bounce right */
.anmt-bounceright {
    display: inline-block;
    vertical-align: middle;
    border-radius: 12px;
    transform: perspective(1px) translateZ(0);
    /* transition-property: color; */
    transition-duration: 0.8s;
}

.anmt-bounceright:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f2f2f;
    border-radius: 11px;
    transform: scaleX(0);
    transform-origin: 0;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

.anmt-bounceright:hover:before,
.anmt-bounceright:focus:before,
.anmt-bounceright:active:before {
    border-radius: 11px;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* bounce middle-out bothways */
.anmt-bouncemiddleout {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    border-radius: 12px;
    transition-property: color;
    transition-duration: 0.5s;
}

.anmt-bouncemiddleout:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2f2f2f;
    border-radius: 12px;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.anmt-bouncemiddleout:hover,
.anmt-bouncemiddleout:focus,
.anmt-bouncemiddleout:active {
    color: white;
}

.anmt-bouncemiddleout:hover:before,
.anmt-bouncemiddleout:focus:before,
.anmt-bouncemiddleout:active:before {
    transform: scaleX(1);
}

/* icon teardrop */
.anmt-teardrop {
    display: inline-block;
    opacity: 0;
    animation-name: anmt-teardrop;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    animation-iteration-count: 4;
}

@keyframes anmt-teardrop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    20%,
    60% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
    }
}


/* infinite spin */
.anmt-spin {
    display: inline-block;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

/* loading bar */

.anmt-loading-bar-10 {
    width: 10%;
    animation: ten-percent 2s ease;
}

@keyframes ten-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    }
}

.anmt-loading-bar-20 {
    width: 20%;
    animation: twenty-percent 2s ease;
}

@keyframes twenty-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}

.anmt-loading-bar-40 {
    width: 40%;
    animation: fourty-percent 2s ease;
}

@keyframes fourty-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

.anmt-loading-bar-50 {
    width: 50%;
    animation: fifty-percent 2s ease;
}

@keyframes fifty-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

.anmt-loading-bar-60 {
    width: 60%;
    animation: sixty-percent 2s ease;
}

@keyframes sixty-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

.anmt-loading-bar-80 {
    width: 80%;
    animation: eighty-percent 2s ease;
}

@keyframes eighty-percent {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}