/*
======================================================================
TOC:
Default Styles
    1. Basic
    2. Typography
    3. Links
    4. Images
    5. Buttons
    6. Forms
Flex
Animation Styles
Media Queries / Responsiveness
====================================================================== */

/* ------------------------------------------------------------------ */
/* a. Default and Basic Styles
/* ------------------------------------------------------------------ */

/*  Basic  ------------------------------------------------------- */
body {
    margin: 0;
    background: #4E4E4E;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #838c95;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

/*  2. Typography
    Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
    font-family: "opensans-bold", sans-serif;
    font-weight: normal;
}

p {
    margin: 0 0 2.5rem 0;
}

p.lead {
    font: 19px/36px "opensans-light", sans-serif;
    margin-bottom: 18px;
}

hr {
    border: solid #e3e3e3;
    border-width: 1px 0 0;
    clear: both;
    margin: 11px 0 30px;
    height: 0;
}

/*  Links  ------------------------------------------------------- */
a,
a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover,
a:focus {
    color: #313131;
}

p a,
p a:visited {
    line-height: inherit;
}

/*  Images  --------------------------------------------------------- */
img {
    max-width: 100%;
    align-self: center;
}

/*  Button  --------------------------------------------------------- */
.button {
    cursor: pointer;
    width: fit-content;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    padding: 0 1rem;
    margin-top: 1rem;
    transition: 0.5s;
    background: #2F2D2E;
    color: #fff;
    font: 16px/30px "opensans-bold", sans-serif;
}

.button:hover {
    transition: 0.5s;
    background: #fff;
    color: #2b2b2b;
}

/* ------------------------------------------------------------------ */
/* b. Flex
--------------------------------------------------------------------- */

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.around {
    justify-content: space-around;
    width: 100%;
}

.between {
    justify-content: space-between;
    width: 100%;
}

/* ------------------------------------------------------------------ */
/* c. Animation Styles
/* ------------------------------------------------------------------ */

/*  1. Hover  ------------------------------------------------------- */

/*  2. Loading Bar  ------------------------------------------------- */
.bar {
    position: relative;
    width: 100%;
    padding: 0;
    text-align: left;
    color: #fff;
    background: #ccc;
    margin: 1rem 0;
    height: 42px;
    font: 16px/30px "opensans-bold", sans-serif;
}

/* ------------------------------------------------------------------ */
/* Media Queries / Responsiveness
/* ------------------------------------------------------------------ */

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
    header .banner-text h1 {
        font: 80px/1.1em "opensans-bold", sans-serif;
        letter-spacing: -1px;
        margin: 0 auto 12px auto;
    }

    .flex-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
    header .banner {
        padding-bottom: 12px;
    }

    header .banner-text h1 {
        font: 78px/1.1em "opensans-bold", sans-serif;
        letter-spacing: -1px;
    }

    header .banner-text h3 {
        font: 17px/1.9em "librebaskerville-regular", serif;
        width: 80%;
    }

    header .banner-text hr {
        width: 65%;
        margin: 12px auto;
    }

    /* About Section
   ------------------------------------------------------------------- */
    .profile-pic {
        width: 114px;
        height: 114px;
    }

    /* Resume Section
   ------------------------------------------------------------------- */
    #resume h1 {
        font: 16px/24px "opensans-bold", sans-serif;
    }

    #resume .main-col {
        padding-right: 5%;
    }

    /* Contact Section
   ------------------------------------------------------------------- */
    #contact .section-head {
        margin-bottom: 30px;
    }

    #contact .header-col h1:before {
        font-size: 66px;
        line-height: 66px;
    }

    #contact .section-head p.lead {
        font: 17px/33px opensans-light, sans-serif;
    }
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .flex-row {
        flex-direction: column;
        align-items: center;
    }

    .flex-row.social-links {
        flex-direction: row;
    }

    a .profile-pic {
        margin: 0;
    }

    /* Header Styles
   -------------------------------------------------------------------- */
    header .banner {
        padding-bottom: 12px;
        padding-top: 6px;
    }

    header .banner-text h1 {
        font: 68px/1.1em "opensans-bold", sans-serif;
    }

    header .banner-text h3 {
        font: 16px/1.9em "librebaskerville-regular", serif;
        width: 85%;
    }

    header .banner-text hr {
        width: 80%;
        margin: 18px auto;
    }

    header .social {
        margin: 18px 0 24px 0;
        font-size: 24px;
        line-height: 36px;
    }

    header .social li {
        margin: 0 10px;
    }

    #about .download .button {
        width: auto;
        text-align: center;
        padding: 15px 20px;
    }

    #about .main-col {
        padding-right: 30px;
    }

    #portfolio-wrapper .columns {
        margin-bottom: 40px;
    }

    .bars {
        width: 100%;
    }

    .popup-modal {
        max-width: 85%;
    }

    /* Control Nav */
    .flex-control-nav {
        text-align: center;
        margin-left: -30px;
    }

    /* footer
    ------------------------------------------------------------------------ */
    /* social links */
    footer .social-links {
        font-size: 22px;
    }

    footer .social-links li {
        margin-left: 18px;
    }

    /* Go To Top Button */
    .scrolltopmost a {
        width: 54px;
        height: 54px;
        font-size: 18px;
        line-height: 54px;
    }
}

/* mobile narrow
-------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

    /* header styles
   -------------------------------------------------------------------- */
    header .banner {
        padding-top: 24px;
    }

    header .banner-text h1 {
        font: 40px/1.1em "opensans-bold", sans-serif;
        margin: 0 auto 24px auto;
    }

    header .banner-text h3 {
        font: 14px/1.9em "librebaskerville-regular", sans-serif;
        width: 90%;
    }

    /* footer
   ------------------------------------------------------------------------ */
}