#navwrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #2F2D2E;
    width: 100%;
    padding: 0.5rem 0;
    font: 12px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#navwrapper a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: bold;
}

#navwrapper a:hover {
    color: crimson;
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
#navwrapper>a.mobile {
    display: none;
}

#nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 9rem;
}

#nav a {
    padding: 0 1rem;
}

#invert {
    cursor: pointer;
    width: 100%;
    max-width: 8rem;
    text-align: center;
}

.invert-toggle {
    background-color: #fff;
}

@media only screen and (max-width: 767px) {

    /* mobile navigation
    -------------------------------------------------------------------- */
    #navwrapper {
        display: flex;
        justify-content: flex-start;
        background: transparent;
    }

    #navwrapper>a {
        width: 48px;
        height: 48px;
        background-color: crimson;
        font: 0/0 a;
        color: transparent;
        position: relative;
        left: 0.5rem;
    }

    #navwrapper>a:before,
    #navwrapper>a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: "";
    }

    #navwrapper>a:after {
        top: 60%;
    }

    /* toggle buttons */
    #navwrapper:not(:target)>a:first-of-type,
    #navwrapper:target>a:last-of-type {
        display: block;
    }

    /* hide menu panel */
    #navwrapper #nav {
        height: auto;
        display: none;
        clear: both;
        width: auto;
        float: right;
        position: relative;
        top: 12px;
        right: 0;
    }

    /* display menu panels */
    #navwrapper:target>#nav {
        display: block;
        padding: 1rem;
        background: #1f2024;
        margin: 0 0 0 1rem;
    }

    #nav {
        display: block;
        height: auto;
        margin: 0 auto;
        text-align: left;
        border-bottom: 1px solid #2d2e34;
        border-bottom-style: dotted;
    }

    #nav a {
        display: block;
        margin: 0;
        padding: 0;
        margin: ;
        line-height: 16px;
        /* reset line-height from 48px */
        border: none;
    }

    #nav a {
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {

    /* mobile navigation
   -------------------------------------------------------------------- */
    #navwrapper #nav {
        width: auto;
        float: none;
    }
}