/* =====================================================================
TOC:
    General Styles
    Header Styles
    About Section
    Portfolio Section
    Posts Section
    Promotional Section
    Footer Section
===================================================================== */
/* ------------------------------------------------------------------ */
/* Preloader
/* ------------------------------------------------------------------ */
#preloader {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4E4E4E;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    padding: 0;
}

#loader:before {
    content: "";
    border-top: 8px solid rgba(0, 0, 0, 0.2);
    border-right: 8px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
    border-left: 8px solid #000000;
    animation: load 1s infinite linear;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */
body {
    min-height: 100%;
    background-color: #4E4E4E;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* flex grid
------------------------------------------------- */
.width-limiter {
    width: 90%;
    max-width: 1024px;
}

.main-side {
    flex: 1;
    padding: 0 1.5rem;
}

.content-side {
    flex: 3;
    width: 100%;
}

.item {
    flex: 1;
}

/* main side
------------------------------------------------- */
.main-side h1 {
    width: fit-content;
    padding: 0 10px 6px 0;
    border-bottom: 3px solid crimson;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* content side
------------------------------------------------- */
.content-side .text {
    text-align: justify;
}

.content-side .contact {
    padding-left: 0;
    padding-right: 5%;
}

.content-divider:not(:last-child) {
    padding-bottom: 4rem;
}

.content-divider {
    margin: auto;
    width: 100%;
}

.content-divider h2 {
    margin-bottom: 2rem;
    color: #000000;
    font-weight: bold;
    letter-spacing: 12px;
    text-indent: 48px;
    text-transform: uppercase;
}

/* accordion
------------------------------------------------- */
.accordion {
    cursor: pointer;
    height: auto;
    padding: 0.25rem 0;
    color: #000000;
    text-indent: 2rem;
}

.accordion:hover,
.accordion:focus {
    color: #fff;
    transition: 0.7s;
}

.accordion-panel {
    padding: 1rem;
    border-radius: 12px;
    background-color: #fff;
}


/* images
------------------------------------------------- */
.profile-pic {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.img-item img {
    object-fit: contain;
    width: 80px;
    height: 80px;
    margin: 1rem;
}


/* ------------------------------------------------------------------ */
/* Content Specific
/* ------------------------------------------------------------------ */
#about {
    padding: 8rem 0 6rem;
    color: #fff;
}

#about h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 12px;
}

.links {
    width: 100%;
}

.item>.bar {
    height: auto;
    border-radius: 13px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.item>.bar:hover {
    color: #fff;
    transition: 0.5s;
}

.item:not(:last-child) {
    margin-right: 1rem;
}

.skills>.flex-row {
    height: fit-content;
    width: 100%;
    padding: 2rem 0;
    border-radius: 2.5rem;
    background-color: #2f2f2f;
}

.faq h2 {
    margin-bottom: 2rem;
    color: #000000;
    font-weight: bold;
    letter-spacing: 6px;
    text-indent: 48px;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------ */
/* Forms
/* ------------------------------------------------------------------ */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    max-width: 100%;
    margin: auto;
}

.form-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25rem;
    padding: 0.5rem 0;
}

.form-input label {
    flex: 1;
    padding-right: 1rem;
    text-align: right;
}

.form-input input {
    flex: 4;
}

#submit {
    align-self: flex-end;
}

/* ------------------------------------------------------------------ */
/* Footer Section
/* ------------------------------------------------------------------ */
footer {
    padding-top: 4rem;
    margin-bottom: 24rem;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer p {
    width: 80%;
    margin: 2rem auto 1rem auto;
    font: 16px "opensans-bold", sans-serif;
    text-transform: uppercase;
}


@media only screen and (max-width: 767px) {
    .main-side h1 {
        padding: 0 10px 6px;
    }

    #about,
    #portfolio,
    #posts {
        padding: 5rem 0 5rem 0;
    }

    .content-side {
        padding: 0 1.5rem;
    }

    .content-side .contact,
    .content-side .download {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {

    .flex-column {
        width: 100%;
    }

    .main-side {
        margin-bottom: 1rem;
    }

    .between {
        width: 100%;
        margin: 0;
    }

    .contact {
        margin: 0;
    }

    .download {
        padding: 0;
        margin: 0;
    }

    .download .button {
        width: 100%;
    }
}