{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {% endblock %}
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="author" content="Ignatius Bagussuputra">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Links
    ================================================== -->
    {% include 'fonts.html' %}
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        {% include 'nav.html' %}
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- JS Scripts
    ================================================== -->
    {% include 'library.html' %}
    <script src="{% static 'js/index.js' %}"></script>

    {% include 'integrations.html'}

    {% block js %}
    {% endblock %}
</body>

</html>