<nav id="navwrapper">
    <div id="nav">
        <a href="/">Home</a>
        <a href="">Contact</a>
        <a href="/professor">Professor</a>
        <a href="/register">Register</a>
    </div>
    <a id="invert">Invert Theme</a>
</nav>